@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap");

body {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
/**********************************
 Top Header Styling
***********************************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 4px 0px 4px;
}

#top-header a:visited,
#top-header a:link {
  color: black;
  text-decoration: none;
}

.siteName {
  font-size: 40px;
  font-weight: 900;
}

/**********************************
 Navigation Styling
***********************************/
nav {
  text-decoration: none;
}

nav > ul {
  list-style-type: none;
  padding: 10px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: #585959;
}

nav > ul > li {
  float: left;
  color: white;
  text-align: center;
  padding: 8px 16px;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
}

nav > ul > li > a:visited {
  color: white;
}

/**********************************
 Body
***********************************/
.welcome_message {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}

.featured {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.featured_details {
  position: absolute;
  left: 6px;
  top: 10px;
  background: rgba(255, 255, 255, 0.9);
  color: #bf4158;
  text-align: left;
}

.featured_details > .featured_name {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
}

.featured_details > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.featured_details > ul > li {
  font-style: italic;
  margin: 0 0 2px 0;
}

.featured_details > button {
  margin: 6px 0 0 0;
  height: 50px;
  width: 168px;
  font-size: 20px;
  font-weight: 600;
  background-color: #d9984a;
}

.info_section {
  display: block;
}

.upgrades,
.reviews {
  width: 100%;
}

.upgrades > h3,
.reviews > h3 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 20px;
}

.upgrades > .upgrade_options {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

.upgrades > .upgrade_options > .upgrade_item {
  text-align: center;
  justify-content: center;
  width: 95%;
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.upgrades > .upgrade_options > .upgrade_item > .upgrade_item_image_container {
  background-color: #bf4158;
  border: 1px solid black;
  border-radius: 1px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.upgrades
  > .upgrade_options
  > .upgrade_item
  > .upgrade_item_image_container
  > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

.upgrades > .upgrade_options > .upgrade_item > a:hover {
  cursor: pointer;
}

.reviews > ul {
  font-size: 18px;
  font-weight: 300;
}

.reviews > ul > li {
  margin-bottom: 18px;
}

#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#inv-display > li {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 350px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
}

#inv-display > li img {
  width: 100%;
  height: 20vh;
  border-radius: 5px;
}

#inv-display > li a:visited {
  color: blue;
}

#inv-info {
  list-style-type: none;
  padding: 0;
  margin: 12px;
}

#inv-info li {
  margin-bottom: 10px;
  padding: 4px;
  font-size: 22px;
}

#inv-info li:nth-child(even) {
  background-color: lightgray;
}

#inv-info li:first-child {
  font-weight: bold;
  font-size: 30px;
}

#inv-info li:nth-child(2) {
  background-color: white;
}

#inv-info li img {
  width: 100%;
}

#inv-info li:nth-child(3) {
  font-weight: bold;
}

.form-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 2px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: red;
}

.show-pass-btn {
  cursor: pointer;
  color: #007bff;
  margin-top: 5px;
}

.edit-buttons-container {
  display: flex;
  justify-content: space-between;
}

.management-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 0 10px;
  text-align: center;
}

.management-btn a {
  text-decoration: none;
  text-align: center;
}

.management-btn a:visited {
  color: white;
  text-decoration: none;
}

.classification-select-container {
  margin-left: 8px;
}

#tools {
  display: block;
  width: 200px;
  align-items: flex-end !important;
}

.welcome-message-header {
  font-size: small;
  float: right;
  margin-bottom: 2px;
}

.manage-account-header {
  float: right;
  font-weight: 700;
  text-decoration: underline !important;
  margin-bottom: 4px;
}

.logout-btn-container {
  float: right;
}

.logout-btn {
  border: none;
  padding: 7px 14px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.my-account-header {
  float: right;
}

@media screen and (min-width: 700px) {
  html {
    height: 100vh;
    background-image: url("/images/site/small_check.jpg");
    align-items: center;
  }

  body {
    margin: 16px auto;
    border: #bf4158 solid 6px;
    width: 80%;
    padding: 10px;
  }

  #top-header {
    margin: 10px 0 20px 0;
  }

  .featured_details {
    left: 40px;
    top: 30px;
  }

  .featured_details > .featured_name {
    margin: 0 0 6px 0;
  }

  .featured_details > button {
    margin: 36px 0 0 0;
  }

  .info_section {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .upgrades,
  .reviews {
    width: 50%;
  }

  .upgrades > h3,
  .reviews > h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  #inv-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
  }

  #inv-info li img {
    width: 30vw;
  }

  #inv-info li:nth-child(2) {
    grid-column: 1;
    grid-row: 2/5;
  }

  #inv-info li:nth-child(3) {
    grid-row: 2;
  }
  #inv-info li:nth-child(4) {
    grid-row: 3;
  }
  #inv-info li:nth-child(5) {
    grid-row: 4;
  }
  #inv-info li:nth-child(6) {
    grid-row: 5;
  }
  #inv-info li:nth-child(7) {
    grid-row: 6;
  }

  #inv-info li:nth-last-child(-n + 5) {
    grid-column: 2;
  }
}
